---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: requirements-txt-fixer

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.13.4
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - pre-push

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        name: ruff pycln
        args: [--fix, --select, "F401"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
      - id: ruff-format

  # - repo: https://github.com/psf/black
  #   rev: 26.1.0
  #   hooks:
  #     - id: black

  # - repo: https://github.com/PyCQA/docformatter
  #   rev: v1.7.7
  #   hooks:
  #     - id: docformatter
  #       args: [--in-place, --config, ./pyproject.toml]

  # - repo: https://github.com/hadialqattan/pycln
  #   rev: v2.6.0
  #   hooks:
  #     - id: pycln
  #       args: [--config, ./pyproject.toml]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        exclude: ^docs/

  # - repo: local
  #   hooks:
  #     - id: pylint
  #       name: pylint
  #       entry: pylint
  #       language: system
  #       types: [python]

exclude: "examples/.*"
